In [1]:
import csv
import pandas as pd 
from transformers import AutoTokenizer, TFAutoModelForSequenceClassification
from scipy.special import softmax

In [7]:
df = pd.read_csv("C:\\Users\\Connor\\Desktop\\Coding\\nft_market_a\\data\\raw_data\\twitter_nft_timeline.csv")
df.head()

,Tweet ID,Username,User ID,Tweet Date,Text
0,1645805247682727938,DegenerateNews,1505874016761831430,2023-04-11 15:05:23+00:00,ICYMI: @OthersideMeta #11260 WITH KODA #9975 S...
1,1645794027399413761,DegenerateNews,1505874016761831430,2023-04-11 14:20:48+00:00,BREAKING: $SOL PUMPS TO $23.11\n\nSOURCE: @Coi...
2,1645789641063415810,DegenerateNews,1505874016761831430,2023-04-11 14:03:22+00:00,ICYMI: @helium TO MIGRATE TO @solana IN 7 DAYS...
3,1645770403187441664,DegenerateNews,1505874016761831430,2023-04-11 12:46:55+00:00,SOURCE: https://t.co/YiyTPsekyd
4,1645770400331120642,DegenerateNews,1505874016761831430,2023-04-11 12:46:55+00:00,BREAKING: SOLANA 24H NFT SALES VOLUME INCREASE...

In [20]:
def process_text(tweet):
    tweet_words = []
    for word in tweet.split(' '):
        if word.startswith('@') and len(word) > 1:
            word = '@user'
        elif word.startswith('http'):
            word = "http"
            tweet_words.append(word)
    return tweet_words

In [21]:
df['processed_text'] = df['Text'].apply(process_text)

print(df['processed_text'])

0     [http]
1     [http]
2     [http]
3     [http]
4     [http]
       ...
95    [http]
96    [http]
97    [http]
98    [http]
99    [http]
Name: processed_text, Length: 100, dtype: object