In [8]:
import csv
import pandas as pd 
from nltk.sentiment.vader import SentimentIntensityAnalyzer
import nltk
import numpy as np
import pickle

In [2]:
df = pd.read_csv("C:\\Users\\Connor\\Desktop\\Coding\\nft_market_a\\scripts_\\twitter_nft_timeline.csv")
df.head()

,Tweet ID,Username,User ID,Tweet Date,Text
0,1658583425047994368,SoldaDDH,1496876147380006915,2023-05-16 21:21:18+00:00,@factions_nft @_MatrixNFT @0xPolygonLabs YEAH
1,1658583423705808897,Kresusofficial,1582118621429391361,2023-05-16 21:21:17+00:00,ðŸŽ¨ Dive into the #NFT world with Kresus! \n\nMi...
2,1658583409609035776,JohnDaWinters,1450824144908652551,2023-05-16 21:21:14+00:00,XRP Ledger Among Top 10 NFT Chains with Over 1...
3,1658583403753533441,deLarg0,113960166,2023-05-16 21:21:13+00:00,@ulices_vc_nft caileeee
4,1658583392873488387,ContentLawyer,209614352,2023-05-16 21:21:10+00:00,"First Free Spacebrat #NFT Minted Over 300,000 ..."

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Tweet ID    17 non-null     int64
 1   Username    17 non-null     object
 2   User ID     17 non-null     int64
 3   Tweet Date  17 non-null     object
 4   Text        17 non-null     object
dtypes: int64(2), object(3)
memory usage: 808.0+ bytes

In [4]:
# Function to clean words up in data
def process_text(tweet):
    tweet_words = []
    for word in tweet.split(' '):
        if word.startswith('@') and len(word) > 1: # Converts their username to '@user'
            word = '@user'
        elif word.startswith('http'): # Converts website address to 'http'
            word = "http"
        tweet_words.append(word)
    tweet_proc = " ".join(tweet_words)
    return tweet_proc

In [5]:
df.head()

,Tweet ID,Username,User ID,Tweet Date,Text
0,1658583425047994368,SoldaDDH,1496876147380006915,2023-05-16 21:21:18+00:00,@factions_nft @_MatrixNFT @0xPolygonLabs YEAH
1,1658583423705808897,Kresusofficial,1582118621429391361,2023-05-16 21:21:17+00:00,ðŸŽ¨ Dive into the #NFT world with Kresus! \n\nMi...
2,1658583409609035776,JohnDaWinters,1450824144908652551,2023-05-16 21:21:14+00:00,XRP Ledger Among Top 10 NFT Chains with Over 1...
3,1658583403753533441,deLarg0,113960166,2023-05-16 21:21:13+00:00,@ulices_vc_nft caileeee
4,1658583392873488387,ContentLawyer,209614352,2023-05-16 21:21:10+00:00,"First Free Spacebrat #NFT Minted Over 300,000 ..."

In [6]:
# Create new column
df['processed_text'] = df['Text'].apply(process_text)

print(df['processed_text'])

0                                @user @user @user YEAH
1     ðŸŽ¨ Dive into the #NFT world with Kresus! \n\nMi...
2     XRP Ledger Among Top 10 NFT Chains with Over 1...
3                                        @user caileeee
4     First Free Spacebrat #NFT Minted Over 300,000 ...
5     @user dammnn welcome diabetes :P ahhaha GM and...
6     I've just created an NFT Collection on Goerli ...
7     Ubisoft Wants To Sell Ezio's 'Digital Soul' An...
8     #NFT Time! http one day volume is 34.68 $eth\n...
9     Another, and probably my last Nft stream on wh...
10        Letâ€™s $SWTS, letâ€™s $MOB, letâ€™s Goo @user http
11                   @user @user $OXBT letâ€™s fucking go
12                         l wanna buy cool #NFT ðŸ˜ðŸ˜ðŸ’¸ðŸ’¸â¬‡ï¸
13    @user @user You know it! @user was a rug and t...
14    @user @user Oh fxck!!! I need to go undock my ...
15    @user @user Thank you so much for joining us t...
16                        @user Accept the challenge. k
Name: processed_text, dtype: object

In [14]:
# Load Model
nltk.download('vader_lexicon') # Vader model

sia = SentimentIntensityAnalyzer()

text = " ".join(df['processed_text']) # Join all text toghether so it gives a score as one

sentiment = sia.polarity_scores(text)
print(sentiment)

{'neg': 0.033, 'neu': 0.835, 'pos': 0.132, 'compound': 0.9727}

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\Connor\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

The VADER Sentiment Analysis provides us with a compound score, which serves as a comprehensive measure of the text's sentiment. This compound score lies within a range of -1 to 1. Here, -1 signifies extremely negative sentiment, while 1 represents extremely positive sentiment. To interpret this continuous score in a more categorical form, we will construct a function. This function will assign each score to a corresponding sentiment category: 'negative', 'neutral', or 'positive', based on its value within the -1 to 1 range.

In [15]:
# Function to find overall sentiment as compound score by itself doesnt mean much
# I think having neutral around -0.05 to 0.05 is the best range for its value
def overall_score(sentiment):
    if sentiment >= 0.05:
        return 'Positive'
    elif sentiment <= -0.05:
        return 'Negative'
    else:
        return 'Neutral'
overall_sentiment = overall_score(sentiment['compound'])
print(overall_sentiment)

Positive

In [12]:
# Save model
model.save_pretrained('C:\\Users\\Connor\\Desktop\\Coding\\nft_market_a\\models\\roberta_sentiment_model')